@use '../../../../styles/variables' as v;
@import '../../../../styles/placeholders';

.label {
  position: relative;
  color: v.$formTextColor;
  border: 1px solid v.$borderColor;
  height: 54px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 14px 16px;
}

.labelText {
  padding: 0 4px;
  background-color: v.$bgColor;
  position: absolute;
  top: 14px;
  left: 12px;
  line-height: 2.6rem;
  transition: top 0.2s ease, font-size 0.2s ease, line-height 0.2s ease;
}

.helperText {
  @extend %HelperOrErrorText;
}

.input {
  width: 100%;
  line-height: 2.6rem;
  background-color: transparent;
}

.input:focus + .labelText,
.input:not(:placeholder-shown) + .labelText {
  top: -7px;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

//error

.label.error {
  border: v.$borderError;
}

.labelText.error {
  color: v.$colorBlack;
}

.input:focus + .labelText.error {
  color: v.$formErrorColor;
}
