@use './variables' as v;

%styleButtons {
  @extend %flexCenter;
  color: v.$colorBlack;
  background-color: v.$primaryColor;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  transition: all 0.2s ease;
}

%disabledBtn {
  background-color: v.$btnDisabled;
  color: v.$colorWhite;
  cursor: default;
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%fontNormal {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

%fontHeaders {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 400;
}

%lineClamp1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

%textEllipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%HelperOrErrorText {
  position: absolute;
  bottom: -20px;
  left: 15px;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
