$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);

$primaryColor: rgb(244 224 65);
$primaryColorHover: rgb(255, 227, 2);
$secondaryColor: rgb(0, 189, 211);
$bgColor: rgb(248 248 248);

$formTextColor: rgb(126, 126, 126);
$formErrorColor: rgb(203, 61, 64);
$btnDisabled: rgb(180, 180, 180);
$borderColor: rgb(208, 207, 207);

$widthContent: 1170px;
$widthLaptop: 1024px;
$widthTablet: 768px;
$widthMobile: 360px;
