@import '../../styles/mixins';

.users {
  display: grid;
  gap: 50px;
  justify-items: center;
  padding: 140px 0;
}

.title {
  text-align: center;
}

.usersCards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  gap: 29px;
}

@include laptop {
  .users {
    padding: 140px 60px;
  }
}

@include tablet {
  .users {
    padding: 140px 32px;
  }

  .usersCards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }
}

@media screen and (max-width: 470px) {
  .users {
    padding: 140px 16px;
  }

  .usersCards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
  }
}
