@use '../../../styles/variables' as v;
@import '../../../styles/placeholders';

.user {
  @extend %flexCenter;
  flex-direction: column;
  gap: 20px;
  background-color: v.$colorWhite;
  max-width: 370px;
  border-radius: 10px;
  padding: 20px;

  & .name,
  & .jobTitle {
    @extend %noWrapText;
    text-align: center;
  }
}

.userInfo {
  width: 100%;
  min-width: 0;

  & a {
    background-color: transparent;
  }
}

.email {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userPhoto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
  }
}
