@use '../../../../styles/variables' as v;
@import '../../../../styles/placeholders';
@import '../../../../styles/mixins';

.upload {
  max-width: 380px;
  position: relative;
  margin-bottom: 6px;
}

.wrapUpload {
  display: flex;
}

.uploadInp {
  display: flex;
  border-radius: 4px; //
  cursor: pointer;

  & input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}

.fileUploadBtn {
  border: 1px solid v.$colorBlack;
  color: v.$colorBlack;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 13px 15px;
}

.fileUploadLabel {
  @extend %textEllipsis;
  border: 1px solid v.$borderColor;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  padding: 13px 15px;
  color: v.$formTextColor;
}

.fileUploadLabel.error,
.fileUploadBtn.error {
  border: 2px solid v.$formErrorColor;
}

.fileUploadLabel.error {
  border-left: none;
}

.fileNameStyle {
  color: v.$colorBlack;
}

@include mobile {
  .upload {
    width: 328px;
  }
}
