@use '../../styles/variables' as v;
@import '../../styles/placeholders';
@import '../../styles/mixins';

.heroWrap {
  overflow: hidden;
  height: 650px;
}

.heroImg {
  height: 100%;
  width: 100%;
  background-image: url('../../../../public/bg.jpeg');
  background-size: 220%;
  background-repeat: no-repeat;
  background-position: left -700px bottom -215px;
}

.hero {
  @extend %flexCenter;
  flex-direction: column;
  color: v.$colorWhite;
  max-width: 412px; // 380 + 16*2
  padding: 164px 16px 0;
  margin: 0 auto;
  text-align: center;

  & h1 {
    padding-bottom: 21px;
  }

  & .heroDescription {
    padding-bottom: 32px;
  }
}

@include laptop {
  .heroImg {
    background-size: 340% 165%;
    background-position: left -1260px bottom -6px;
  }
}

@include tablet {
  .heroWrap {
    height: 500px;
  }

  .hero {
    padding-top: 89px;
  }

  .heroImg {
    background-size: 340% 165%;
    background-position: left -944px bottom -5px;
  }
}

@include mobile {
  .hero {
    padding-top: 40px;
  }
  .heroImg {
    background-size: 340% 165%;
    background-position: left -442px bottom -5px;
  }
}
