@use '../../styles/variables' as v;
@import '../../styles/placeholders';
@import '../../styles/mixins';

.heroWrap {
  position: relative;
  overflow: hidden;
  height: 650px;
}

.heroImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
  }
}

.heroWrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: v.$colorBlack-50;
}

.heroText {
  @extend %flexCenter;
  position: relative;
  z-index: 100;
  flex-direction: column;
  color: v.$colorWhite;
  max-width: 412px; // 380 + 16*2
  padding: 164px 16px 0;
  margin: 0 auto;
  text-align: center;

  & h1 {
    padding-bottom: 21px;
  }

  & .heroDescription {
    padding-bottom: 32px;
  }
}

@include tablet {
  .heroWrap {
    height: 500px;
  }

  .heroText {
    padding-top: 89px;
  }
}

@include mobile {
  .heroText {
    padding-top: 40px;
  }
}
