@use '../../styles/variables' as v;
@import '../../styles/placeholders';

.formBlock {
  @extend %flexCenter;
  flex-direction: column;
  gap: 50px;

  & h2 {
    position: relative;
  }
}

.form {
  display: grid;
  gap: 44px;
  width: 380px;
}

.wrapBtn {
  & * {
    margin: 0 auto;
  }
}
